/* color variables  */
$v_white: #FFFFFF;
$v_whiteLightBg: #f1f1f1;
$v_black: #000000;
$v_primary: #EA3F37;
$v_secondary: #FBECDD;

/* font color */
$v_title: #00031E;
$v_decColor: #121212;

/*  border color */
$v_stroke: #E6E6E6;


/* Responsive View variables - Breakpoints for Media Query */
$smallMobile: 320px;
$mobileSmall: 375px;
$mobile: 481px;
$mobileLarge: 576px;
$ipad: 768px;
$large: 991px;
$extraLarge: 1200px;
$desktop: 1366px;
$desktopLarge: 1430px;
$desktopXLarge: 1600px;
$desktopXXLarge: 1800px;